bot:
  server: "irc.rrerr.net"
  port: 6667

  nickname: "botter"
  realname: "Botter IRC Bot"
  
  verbose: true
  
  modules:
    enabled:
      - autojoin
      - logger
      - ctcp
      - ddg
      - google
      - youtube
      - correction
#      - nickserv
    config:
      autojoin:
        channels:
          - "#lobby"
          - "#test"
        rejoin_on_kick: true
        rejoin_wait: 2   # wait time in seconds
      ctcp:
        version: true    # Reply to CTCP VERSION
      ddg:
        command: "!d"
        searching_for_str: "Searching \x034DuckDuckGo\x0f for: %arg"
        no_results_str: "Nothing was found :("
      google:
        command: "!g"
        searching_for_str: "Searching \x0312G\x034o\x038o\x0312g\x039l\x034e\x0f for: %arg"
      youtube:
        banner: "[\x02You\x034Tube\x0f]"
        enable_not_found_message: false    # Enable "Video not found" message (which can get quite spammy)
        not_found_str: "Video not found ;_;"
      logger:
        log_dir: # TODO ???
      correction:
        banner: "Correction:"
        save_correction: false  # This will modify the in-memory log database
      nickserv:
        command: "!auth"
        password: "foobar"
